.login-container {
    height: 100vh;
    background: linear-gradient(to right, #ffa500, #ffa500);
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
    background-color: #ffffffcc;
    backdrop-filter: blur(10px);
  }
  
  .login-card h3 {
    font-weight: 600;
    color: #333;
  }
  
  .btn-primary {
    background-color:  #ffa500;
    border-color:  #ffa500;
  }
  
  .btn-primary:hover {
    background-color:  #ffa500;
    border-color:  #ffa500;
  }
  